common:
  site_name: OTM
  site_description: OpenSource Tag Manager and Action tracker. You can reach raw data.
  publish_year: 2020
  header_navs:
    - label: About
      href: '#about'
    - label: Product
      href: '#product'
    - label: Pricing
      href: '#pricing'
    - label: Customers
      href: '#customers'
    - label: Blog
      href: 'http://blog.example.com'
    - label: Support
      href: '#support'
index:
  lead:
    label: Open Tag Manager
    description: OpenSource Tag Manager and Action tracker. You can reach raw data.
  about:
    label: About
    description: |
      OTM is a chat service where customers can create their own chat scenarios.
      Implementing Natural Language Processing (NLP) and recommendation engine using AI, the bot can carry on a natural conversation with it's users.
  product:
    label: Product
    characters:
      - label: Natural language processing
        icon: brain
        description: |
          Through Intent / Entity Extraction AI technology, user's intention and speaking content will be automatically recognized.
      - label: Natural language processing
        icon: link
        description: |
          Through Intent / Entity Extraction AI technology, user's intention and speaking content will be automatically recognized.
      - label: Natural language processing
        icon: cog
        description: |
          Through Intent / Entity Extraction AI technology, user's intention and speaking content will be automatically recognized.
      - label: Natural language processing
        icon: comment
        description: |
          Through Intent / Entity Extraction AI technology, user's intention and speaking content will be automatically recognized.
  pricing:
    label: Pricing
    titles:
      - Num of active users per month
      - Num of user accounts
      - Num of bots
      - Num of administrators
      - Num of API
      - Keyword matching
      - Push message
      - Report
    plan:
      label: Plan
      items:
        - label: Free
          color: info
          price: Free
          values:
            - 50
            - 50
            - 2
            - 1
            - '&#8553;'
            - '&#9675;'
            - '&#8553;'
            - '&#8553;'
        - label: Minimum
          color: success
          price: '&#165;10,000/month'
          values:
            - 10,000
            - 10,000
            - 5
            - 3
            - '&#8553;'
            - '&#9675;'
            - '&#8553;'
            - '&#9675;'
        - label: Standard
          color: warning
          price: '&#165;50,000/month'
          values:
            - 100,000
            - 100,000
            - 10
            - 5
            - '&#9675;'
            - '&#9675;'
            - '&#9675;'
            - '&#9675;'
        - label: Enterprise
          color: danger
          price: Contact
          values:
            - Contact
            - Contact
            - Contact
            - Contact
            - '&#9675;'
            - '&#9675;'
            - '&#9675;'
            - '&#9675;'
  customers:
    label: Customers
    items: 
      - label: Apple
        img: /assets/img/customers/1.jpg
        url: http://example.com
      - label: Amazon
        img: /assets/img/customers/2.jpg
        url: http://example.com
      - label: Google
        img: /assets/img/customers/3.jpg
        url: http://example.com
      - label: Facebook
        img: /assets/img/customers/4.jpg
        url: http://example.com
  support:
    label: Support
    description: |
      Inquire our staffs for more detail.
      Please contact the number below ,or on our website.
    phone: +1 (202) 555-0149
    email: contact@yourwebsite.com

